<% layout("/layouts/boilerplate") %>

<div>
    <h3>Here are Your payment Details</h3>
    <p>Name : <%= currUser.username %></p>
    <p>Destination : <%= currListing.title %></p>
    <p>Tickets : <%= tickets %></p>
    <p>Amount paid : ₹ <%= currListing.price * tickets %> </p>
    <p>Mode of payment : Card</p>
    <p>Time of Payment : <%= time %></p>
</div>