<% layout("/layouts/boilerplate") %>

<% for(listing of allListings)  { %>
    <div class="col-8 offset-3 mt-3 show-listing-div">
        <div class="card-show" style="width: 80%;">
            <h3><%= listing.title %></h3>
            <img src="<%= listing.image.url %>" class="card-img-top" alt="" style="height: 33vh">
            <div class="card-body">
                <b><i>Owned By : <%=listing.owner.username  %> </i></b>
                <li><%= listing.description %></li>
                <li>₹<%= listing.price %> / night</li>
                <li><%= listing.location %></li>
                <li><%= listing.country %></li>
            </div>
        </div>
    </div>
    <hr>
<% } %>